body
{
    background-color: white;
    margin: 0;
}

.contenedor1
{
    position: absolute;
    top: 41%;
    left: 28%;
}

.cuadrado1
{
    background-color: #97d7dd;
    width: 108px;
    height: 108px;
    position: relative;
}

.rectangulo
{
    background-color: #659bdf;
    width: 100%;
    height: 2.8vh;
    position: absolute;
    top: 0;
    left: 0;
}

.cuadrado2
{
    background-color: #659bdf;
    width: 56.7px;
    height: 56.7px;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenedor2
{
    position: absolute;
    top: 41%;
    left: 45%;
}

.cuadrado3
{
    background-color: #c58080;
    width: 108px;
    height: 108px;
    position: relative;
}

.rectangulo2
{
    background-color: #b96666;
    width: 100%;
    height: 2.8vh;
    position: absolute;
    top: 0;
    left: 0;
}

.cuadrado4
{
    background-color: #b96666;
    width: 56.7px;
    height: 56.7px;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenedor3
{
    position: absolute;
    top: 41%;
    left: 62%;
}

.cuadrado5
{
    background-color: #f9c57c;
    width: 108px;
    height: 108px;
    position: relative;
}

.rectangulo3
{
    background-color: #f8b85e;
    width: 100%;
    height: 2.8vh;
    position: absolute;
    top: 0;
    left: 0;
}

.cuadrado6
{
    background-color: #f8b85e;
    width: 56.7px;
    height: 56.7px;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenedor4
{
    position: absolute;
    top: 70%;
    left: 28%;
}

.cuadrado7
{
    background-color: #f9c57c;
    width: 108px;
    height: 108px;
    position: relative;
}

.rectangulo4
{
    background-color: #f8b85e;
    width: 100%;
    height: 2.8vh;
    position: absolute;
    top: 0;
    left: 0;
}

.cuadrado8
{
    background-color: #f8b85e;
    width: 56.7px;
    height: 56.7px;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenedor5
{
    position: absolute;
    top: 70%;
    left: 45%;
}

.cuadrado9
{
    background-color: #97d7dd;
    width: 108px;
    height: 108px;
    position: relative;
}

.rectangulo5
{
    background-color: #659bdf;
    width: 100%;
    height: 2.8vh;
    position: absolute;
    top: 0;
    left: 0;
}

.cuadrado10
{
    background-color: #659bdf;
    width: 56.7px;
    height: 56.7px;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenedor6
{
    position: absolute;
    top: 70%;
    left: 62%;
}

.cuadrado11
{
    background-color: #c58080;
    width: 108px;
    height: 108px;
    position: relative;
}

.rectangulo6
{
    background-color: #b96666;
    width: 100%;
    height: 2.8vh;
    position: absolute;
    top: 0;
    left: 0;
}

.cuadrado12
{
    background-color: #b96666;
    width: 56.7px;
    height: 56.7px;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenedorrectangulo
{
    position: absolute;
    top: 0%;
    left: 0%;
}

.rectangulogrande
{
    background: #f9c57c;
    width: 1366px;
    height: 180px;
    position: relative;
}

.cuadradogrande
{
    background: #f8b85e;
    width: 140px;
    height: 140px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.rectangulochico
{
    background: #f3ab63;
    width: 200px;
    height: 25px;
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.rectanguloblanco
{
    background: white;
    width: 420px;
    height: 10px;
    position: absolute;
    top: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.rectanguloblanco2
{
    background: white;
    width: 420px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.rectanguloblanco3
{
    background: white;
    width: 420px;
    height: 10px;
    position: absolute;
    top: 65%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.rectanguloblanco4
{
    background: white;
    width: 230px;
    height: 10px;
    position: absolute;
    top: 80%;
    left: 46%;
    transform: translate(-50%, -50%);
}

.contenedorrectangulogris
{
    position: absolute;
    top: 100%;
    left: 0%;
}

.rectangulogrisgrande
{
    background-color: lightslategray;
    width: 1366px;
    height: 180px;
    position: relative;
}

.rectangulogrischico
{
    background: grey;
    width: 200px;
    height: 25px;
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.rectangulogrischico2
{
    background: grey;
    width: 200px;
    height: 25px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rectangulogrischico3
{
    background: grey;
    width: 200px;
    height: 25px;
    position: absolute;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.linea
{
    background: white;
    width: 200px;
    height: 10px;
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.linea2
{
    background: white;
    width: 200px;
    height: 10px;
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.linea3
{
    background: white;
    width: 150px;
    height: 10px;
    position: absolute;
    top: 85%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.linea4
{
    background: white;
    width: 200px;
    height: 10px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.linea5
{
    background: white;
    width: 200px;
    height: 10px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.linea6
{
    background: white;
    width: 150px;
    height: 10px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.linea7
{
    background: white;
    width: 200px;
    height: 10px;
    position: absolute;
    top: 55%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.linea8
{
    background: white;
    width: 200px;
    height: 10px;
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.linea9
{
    background: white;
    width: 150px;
    height: 10px;
    position: absolute;
    top: 85%;
    left: 80%;
    transform: translate(-50%, -50%);
}