body
{
background-color: beige;
}


.contenedor1
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cuadrado1
{
    width: 150px;
    height: 150px;
    background-color: lightblue;
    position: relative;
}


.cuadrado2
{
    width: 75px;
    height: 75px;
    background-color: lightskyblue;
    position: absolute;
}


.rectangulo
{
    width: 150px;
    height: 15px;
    background-color: lightskyblue;
    position: absolute;
}
